# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

